<%# HEAD TOP 1/2 %>
<%- include('../../components/head-top.ejs') %>

<%# --------------------------------------------- %>
<%# GENERAL STYLES %>
<link rel="stylesheet" href="/styles/uiniversal-general-styles.css">

<!-- FONTS -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

<!-- ICONS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<%# --------------------------------------------- %>

<link rel="stylesheet" href="/styles/nav_menu.css">
<link rel="stylesheet" href="/styles/users_admin.css">

<%- include('../../components/head-bottom.ejs') %>
    
    <main>
        <%- include("../../components/nav/nav_menu.ejs") %>

        <section class="main-body">

            <div class="ver-usuarios">
                <section class="leyenda-usuarios">
                    <div class="centrar-leyenda">
                        <p> Nombre </p>
                    </div>
                    <div class="centrar-leyenda">
                        <p> Apellidos</p>
                    </div>
                    <div class="centrar-leyenda">
                        <p> Nom Chat </p>
                    </div>
                    <div class="centrar-leyenda">
                        <p> Email </p>
                    </div>
                    <div class="centrar-leyenda">
                        <p> Contraseña </p>
                    </div>
                    
                    <div class="centrar-leyenda">
                        <p> Permisos </p>
                    </div>
                    <div class="centrar-leyenda">
                        <p> Creado <i class="fa-regular fa-calendar-days"></i></p>
                    </div>
                    <div class="centrar-leyenda">
                        <p> Vigencia <i class="fa-regular fa-calendar-days"></i> </p>
                    </div>
                    <div class="centrar-leyenda">
                        <p> EDIT </p>
                    </div>
                    <div class="centrar-leyenda">
                        <p> DEL </p>
                    </div>
                    <div class="centrar-leyenda">
                        <p> DELETE </p>
                    </div>

                </section>
                <% usuarios.forEach( elemento => { %>
                    <section class="usuario">
                        <p> <%- elemento.nombre %> </p>
                        <p> <%- elemento.apellidos %> </p>
                        <p> <%- elemento.usuario_chat %> </p>
                        <p> <%- elemento.email %> </p>
                        <p> <strong> <i class="fa-solid fa-ellipsis"></i> <i class="fa-solid fa-key"></i> </strong> <%#- elemento.contrasenya %> </p>
                        <p> <%- elemento.permisos %> </p>
                        <p> <%- elemento.fecha_formateada %> </p>
                        <p> <%- elemento.vigencia %> </p>
                        <p class="update-user" onclick=" editar_usuario( `<%- elemento.id_usuario %>` )"> <i class="fa-solid fa-pen-to-square"></i>  </p>
                        <p class="delete-user"> <i class="fa-solid fa-square-minus"></i> <i class="fa-solid fa-lock"></i> <i class="fa-solid fa-unlock"></i> <i class="fa-solid fa-toggle-off"></i> <i class="fa-solid fa-toggle-off fa-rotate-180"></i> </p>
                        <p> <input type="checkbox" name="" id="" class="usuario-checked"> </p>
                    </section>
                <% }); %>
            </div>

            <div class="isercion_usuario">
                <h2>Insert Unser</h2>
                <section class="leyenda-insercion">
                    <div class="centrar-leyenda">
                        <p> Nombre </p>
                    </div>
                    <div class="centrar-leyenda">
                        <p> Apellidos</p>
                    </div>
                    <div class="centrar-leyenda">
                        <p> Nom Chat </p>
                    </div>
                    <div class="centrar-leyenda">
                        <p> Email </p>
                    </div>
                    <div class="centrar-leyenda">
                        <p> Contraseña </p>
                    </div>
                    
                    <div class="centrar-leyenda">
                        <p> Permisos </p>
                    </div>
                    <div class="centrar-leyenda">
                        <p> Creacion </p>
                    </div>
                    <div class="centrar-leyenda">
                        <p> Vigencia </p>
                    </div>
                </section>

                <section class="datos-insercion">

                    <button onclick="add_user()"> <i class="fa-solid fa-play"></i> </button>
                </section>
            </div>

        </section>

    </main>

    <script>
        let ul = document.querySelector('.ul');
        let logo = document.getElementsByClassName('hamburger')[0];

       logo.addEventListener('click', ( event) => {
            if( ul.classList.contains('show') ){
                ul.classList.remove('show');
            }else{
                ul.classList.add('show');
            }

        });

    </script>

</body>
</html>