<%# HEAD TOP 1/2 %>
<%- include('../components/head-top.ejs') %>

<%# --------------------------------------------- %>

<!-- FONTS -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

<!-- ICONS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<%# --------------------------------------------- %>

<%# GENERAL STYLES %>
<link rel="stylesheet" href="/styles/general.css">

<%# NAV MENU STYLES %>
<link rel="stylesheet" href="/styles/nav_menu.css">

<%# DASHBOARD STYLES %>
<link rel="stylesheet" href="/styles/dashboard-styles.css">

<%- include('../components/head-bottom.ejs') %>
    <main class="main-body">
        <%- include("../components/nav/nav_menu.ejs") %>
        
        <!-- <h2>Hola mundo <%#- id_user %> </h2> -->

        <div id="dasboard-body">
            <div class="email container">
                <i class="fa-solid fa-envelope"> </i>
            </div>

            <div class="images container">
                </i> <i class="fa-solid fa-cloud"> </i> </i>
            </div>

            <div class="chatting container">
                <i class="fa-brands fa-rocketchat"></i>
            </div>

            <div class="estructure container">
                <i class="fa-solid fa-compass-drafting"></i> </i>
            </div>

            <div class="user-profile container" onclick=" editar_user( `<%- id_user %>` ) ">
                <i class="fa-solid fa-address-card user-identifier"> </i>
            </div>
        </div>

        <div class="images-container">
            <i class="fa-solid fa-rectangle-xmark image-close"></i>
            <form action="/images" method="post" class="images-form" enctype="multipart/form-data">
                <input type="file" name="file" id="" class="file">
                <input type="text" name="oculto" value=" <%= user_name %> " hidden>
                <button class="images-button"> <i class="fa-solid fa-cloud"> </i> </button>
            </form>
        </div>

        <% if( param1Value != ""){ %>
            <div id="image-upload">
                <img src="/images/folder-<%=user_name%>/<%-param1Value%>" alt="">
            </div>

        <% } %>


    </main>
<script> console.log(`<%- id_user %>`); </script>
    <script>
        
        // hamburguer
        let ul = document.querySelector('.ul');
        let logo = document.getElementsByClassName('hamburger')[0];
        
        logo.addEventListener('click', ( event) => {
                if( ul.classList.contains('show') ){
                    ul.classList.remove('show');
                }else{
                    ul.classList.add('show');
                }

        });

        //USER PROFILE
        let user_profile = document.querySelector('.user-profile');
        console.log( user_profile );

        function editar_user( identificador ){
             
            let dato = parseInt( identificador ); // dato ha enviar por POST

            // Creando Formulario
            let form = document.createElement("form");
            form.method = "post";
            form.action = "/edit_user";
            
            let input = document.createElement("input");
            input.type = "hidden";
            input.name = "user_id";
            input.value = dato;
            
            form.appendChild(input);

            // Agregar formulario al documento
            document.body.appendChild(form);
            
            // Enviar el formulario automáticamente
            form.submit();
        
        };
        
        // CANVAS DRAW
        let draw_button = document.querySelector('.estructure');
        draw_button.addEventListener('click', () => {
            window.location.href = "http://localhost:3000/draw_canvas";
        });

        // USERS GROUP CHAT
        let chatting = document.querySelector('.chatting');
        chatting.addEventListener('click', () => {
            window.location.href = "http://localhost:3000/chatting";
        });

        // MAIL
        let email = document.querySelector('.email');

        email.addEventListener('click', () => {
            window.location.href = "http://localhost:3000/email";
        });

        // IMAGES
        

        document.addEventListener('DOMContentLoaded', () => {
            try {
                let images = document.querySelector('.images');
                let images_container = document.querySelector('.images-container');

                images.addEventListener('click', () => {
                    images_container.style.display = 'flex';
                });

                let image_close = document.querySelector('.image-close');
                image_close.addEventListener('click', () => {
                    images_container.style.display = 'none';
                });

                let imagesForm = document.querySelector('.images-form');
                let button = document.querySelector('.images-button');
            
                button.addEventListener('click', (event) => {
                    event.preventDefault();
                    imagesForm.submit();
                });

            } catch (error) {
              console.log(error);
            }
          });
          
    </script>

</body>
</html>