<%# HEAD TOP 1/2 %>
<%- include('../components/head-top.ejs') %>

<%# --------------------------------------------- %>
<%# GENERAL STYLES %>
<link rel="stylesheet" href="/styles/uiniversal-general-styles.css">

<!-- FONTS -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

<!-- ICONS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<%# --------------------------------------------- %>

<%# INICIAL STYLES %>
<%- include('../modules/link-inicial/inicial-styles.ejs') %>

<%# STYLES NAV %>
<%- include('../modules/link-nav-style/nav-styles.ejs') %>

<style>

    footer {

        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    footer div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    footer div ul{
        list-style-type: none;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    footer div ul li{
        margin: 0 0.25rem;
        width: 3rem;
        padding: 5px;
        border: 0.01px solid black;
        border-radius: 10px;
    }
</style>

<%# HEAD BOTTOM "2/2 %>
<%- include('../components/head-bottom.ejs') %>

    <main>

        <%# HEADER + NAV COMPONENT %>
        <%- include('../components/nav/nav_inicio.ejs') %>
        
        <section class="main-body">
            <h2>Inicio</h2>
        </section>

        <%# FOOTER COMPONENT %>
        <%- include('../components/footer/footer.ejs') %>

        <script>
            let ul = document.querySelector('.ul');
            let logo = document.getElementsByClassName('hamburger')[0];
    
           logo.addEventListener('click', ( event) => {
                if( ul.classList.contains('show') ){
                    ul.classList.remove('show');
                }else{
                    ul.classList.add('show');
                }
    
            });
    
        </script>

    </main>

<%# FOOTER BOTTOM %>
<%- include('../components/footer-bottom.ejs') %>