<%# HEAD TOP 1/2 %>
<%- include('../components/head-top.ejs') %>

<%# --------------------------------------------- %>
<%# GENERAL STYLES %>
<link rel="stylesheet" href="/styles/uiniversal-general-styles.css">

<!-- FONTS -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

<!-- ICONS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<%# --------------------------------------------- %>

<%# INICIAL STYLES %>
<%- include('../modules/link-inicial/inicial-styles.ejs') %>

<%# STYLES NAV %>
<%- include('../modules/link-nav-style/nav-styles.ejs') %>

<%# Formulario STYLES %>
<link rel="stylesheet" href="/styles/inicio-formularios.css">

<%# HEAD BOTTOM "2/2 %>
<%- include('../components/head-bottom.ejs') %>
    

   <%# div.principal>section.fomulario>form:post>label+input^^section.pruebas %>
<main>
    
    <%# Header + Nav Component %>
    <%- include('../components/nav/nav_inicio.ejs') %>
    <section class="seccion-centrada">
        <div class="principal">
            <h2> SIGN UP </h2>
            <section class="fomulario">
                    <h2> USER DATA </h2>

                    <form action="/register" method="post" id="formulario">
                        <div class="user_data">
                            <input type="text" name="name" id="" placeholder="Name">
                            <input type="text" name="lastnames" id="" placeholder="Lastname">
                            <input type="text" name="email" id="" placeholder="Email">
                        </div>
                    <h2> PASSWORD </h2>

                    <div class="zone_eye_password">
                        <input type="password" name="password1" class="tipo_contraseña" placeholder="Password">

                        <div class="eye_password-open" hidden>
                            <i class="fa-solid fa-eye open-eye"></i> <i class="fa-solid fa-lock-open open-eye"></i>
                        </div>
                        <div class="eye_password-close">
                            <i class="fa-solid fa-eye-slash cerrado-eye"></i> <i class='fa-solid fa-lock cerrado-eye'></i>
                        </div>

                    </div>

                    <div class="zone_eye_password">
                        <input type="password" name="password2" class="tipo_contraseña" placeholder="Confirm Password">
                    </div>

                    <div class="button-submit">
                        <input type="submit" value="Register">
                    </div>

                </form>
                <div class="sign-up">I already have an account, I want <a href="/login"> SIGN IN </a></div>
            </section>
            <section class="pruebas">
                <% if(inconvenientes != ""){ %>
                    <% for(let i=0; i< inconvenientes.length; i++){ %>
                        <p><%= inconvenientes[i] %></p>
                    <% } %>
                <% } %>
            </section>
        </div>
    </section>
</main>

<script>
    let ul = document.querySelector('.ul');
    let logo = document.getElementsByClassName('hamburger')[0];

   logo.addEventListener('click', ( event) => {
        if( ul.classList.contains('show') ){
            ul.classList.remove('show');
        }else{
            ul.classList.add('show');
        }

    });

    //
    let cerrado_eye = document.querySelectorAll('.cerrado-eye');
    let open_eye = document.querySelectorAll('.open-eye');
    let tipo_contraseña = document.querySelectorAll('.tipo_contraseña');

    //
    let eye_password_close = document.querySelector('.eye_password-close');
    let eye_password_open = document.querySelector('.eye_password-open');
    

    cerrado_eye.forEach( elemento => {
        elemento.style.cursor = "pointer";
        elemento.addEventListener('click', () => {
            tipo_contraseña.forEach( passwd => { passwd.type = "text"; });
            eye_password_close.style.display = "none";
            eye_password_open.style.display = "flex";
        });
    });

    open_eye.forEach( elem => {
        elem.style.cursor = "pointer";
        elem.addEventListener('click', () => {
            tipo_contraseña.forEach( passwd => { passwd.type = "password"; });
            eye_password_close.style.display = "flex";
            eye_password_open.style.display = "none";
        });
    });

</script>

</body>
</html>